<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Check out my sweet skills <a href="/skills">here!</a></h1>
    
  </body>
</html>
